header {
    background-image: url(/images/fondo.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    text-align:left;
    padding-inline: 60px;
    
   


}




.titulo{

    color:rgb(0, 0, 0);
    
    font-size: 70px;
    padding-inline: 60px;
}
.titulo2{

    color:rgb(5, 2, 2);
    
    font-size: 35px;
    padding-inline: 60px;
}



.planta {
    padding-inline: 40px;
    width: 250px;
    height: 250px;
}

img {
    display: block;
    margin: 10px 0 10px 40px; /* arriba, derecha, abajo, izquierda */
    width: 250px;
    height: 250px;
}

/* Estilos para el contenedor principal */
.contenedor {
    width: 80%; /* Ajusta el ancho del contenido */
    
    background-color: white; /* Color de fondo para que resalte */
    margin: 20px auto; /* Centra el contenedor en la página */
    
    padding: 20px; /* Espacio interno para que no esté pegado a los bordes */
    border-radius: 10px; /* Bordes redondeados */
    position: relative; /* Necesario para que el banner se posicione dentro de él */
    height: 500%;
} 


.producto {
    display: flex; /* Acomoda los elementos en línea (imagen + texto) */
    align-items: center; /* Alinea verticalmente */
    margin: 20px 40px; /* Espaciado entre productos */
}

.producto img {
    width: 250px;
    height: 200px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.descripcion {
    display: flex;
    flex-direction: column; /* Organiza el texto en columna */
}

.nombre {
    font-weight: bold; /* Hace que el nombre se vea más destacado */
    font-size: 20px;
    color: #000000;
    gap: 5px;
    margin-top: 0;
}

.precio {
    font-size: 16px;
    color: #0f0a0a;
    gap: 5px;
    margin-top: 0;
}




footer{
   
    background-color: rgba(190, 121, 29, 0.986);
    text-align: center;
    padding: 10px 0;
    height: 30px; /* Solo queda una definición de altura */
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
  




